@import 'var';
@import 'range';
* {
  box-sizing: border-box;
}

.bottle-output {
  text-align: center;
  font-weight: 900;
}

.display {
  width: 720px;
  height: 100px;
  display: block;
  font-weight: bold;
  font-size: 2em;
  background-image: url('../assets/img/bottle.svg');
  background-repeat: repeat;
  background-size: 15px 20px;
  margin: 30px auto;
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.intro {
  background-color: $c-blue-d;
  margin-top: 27px;
  padding: 2rem;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    display: block;
    top: -20px;
    bottom: 0;
    left: 0;
    height: 250px;
    width: 100%;
    border-top: 13px dotted $c-lightgray;
    border-bottom: 13px dotted $c-lightgray;
  }
}

.main-headline {
  margin: 0 15px;
  color: $c-white;
  font-size: 3rem;
}

.main-subheadline {
  color: $c-white;
}

.secondary-headline {
  max-width: 660px;
  text-align: center;
  margin: 15px auto;
  margin-top: 6rem;
  background-color: $c-lightgray;
  color: $c-blue-d;
  font-weight: 400;
  padding: 1rem 2rem;
  font-size: 2rem;
}

.copy-strong {
  color: $c-blue-d;
  font-weight: 400;
  font-size: 1rem;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kinds-of-meat {
  display: flex;
  border: 0;
  &__product {
    margin: 4rem 2rem 5rem 2rem ;
    width: 110px;
    height: 110px;
    color: $c-black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    &::after {
      content: '';
      top: 7px;
      left: 7px;
      position: absolute;
      width: 110px;
      height: 110px;
      background-color: $c-blue-d;
      z-index: -2;
    }
  }

  &__radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &__animal {
    width: 80px;
  }

  &__label-copy::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $c-lightgray;
  }
  &__radio:checked + .kinds-of-meat__label-copy::before {
    background-color: $c-gray;
  }
  &__radio:focus + .kinds-of-meat__label-copy::before {
    outline: 3px solid #fa0;
  }
}

.range {
  max-width: 300px;
  &__ui {
    display: flex;
    justify-content: space-around;
    width: 660px;
    margin-bottom: 5rem;
  }
  &__input-wrap {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  margin: 0;
  background-color: $c-blue-d;
  color: $c-white;
  padding: 1rem 1rem 1rem 4rem;
}

.sources {
  margin: 0;
  padding: 0;
  list-style: none;
}

.source {
  color: $c-white;
}

.out-wrapper {
  position: relative;
  text-align: center;
  width: 710px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottle-disclaimer {
  position: absolute;
  right: 0;
  bottom: -20px;
}

.bottle-img {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('../assets/img/bottle.svg');
  background-size: 25px 25px;
}