@import 'var';
@import 'range';
* {
  box-sizing: border-box;
}

@mixin fontSize($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

.bottle-output {
  text-align: center;
  font-weight: 900;
}

.display {
  width: 720px;
  height: 100px;
  display: block;
  font-weight: bold;
  font-size: 2em;
  background-image: url('../assets/img/bottle.svg');
  background-repeat: repeat;
  background-size: 15px 20px;
  margin: 80px auto;
  position: relative;
  // &::after {
    // content: '';
    // position: absolute;
    // width: 100%;
    // left: 0;
    // bottom: 0;
    // height: 180px;
    // background-image: linear-gradient(to bottom, rgb(255, 255, 255, 0), rgb(255, 255, 255, 1));
  // }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.intro {
  background-color: $c-blue-d;
  // margin-top: 10px;
  padding: 2rem;
  position: relative;
  // &::after {
    // content: '';
    // position: absolute;
    // display: block;
    // top: 0;
    // bottom: 0;
    // height: 480px;
    // border-top: 18px dotted $c-gray;
    // border-bottom: 18px dotted $c-gray;
  // }
}

.main-headline {
  margin: 0 15px;
  color: $c-white;
  font-size: 3rem;
}

.main-subheadline {
  color: $c-white;
}

.secondary-headline {
  max-width: 500px;
  text-align: center;
  margin: 15px auto;
  margin-top: 3rem;
  background-color: $c-lightgray;
  padding: 2rem;
  font-size: 1.5rem;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kinds-of-meat {
  display: flex;
  border: 0;
  &__product {
    margin: 2rem 1rem;
    width: 100px;
    height: 100px;
    color: $c-black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    &::after {
      content: '';
      top: 5px;
      left: 5px;
      position: absolute;
      width: 100px;
      height: 100px;
      background-color: $c-blue-d;
      z-index: -2;
    }
  }

  &__radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &__animal {
    width: 60px;
    filter: grayscale(.4);
  }

  &__label-copy::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $c-lightgray;
  }
  &__radio:checked + .kinds-of-meat__label-copy::before {
    background-color: $c-gray;
  }
  &__radio:focus + .kinds-of-meat__label-copy::before {
    outline: 3px solid #fa0;
  }
}

.range {
  max-width: 300px;
  &__ui {
    display: flex;
    justify-content: space-around;
    width: 500px;
  }
  &__input-wrap {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  margin: 0;
  background-color: $c-blue-d;
  color: $c-white;
  padding: 1rem;
}

.sources {
  margin: 0;
  list-style: none;
}

.source {
  color: $c-white;
}

